.leftSide {

  & form {
    height: 115px;
  }

  & .currencyInput {
    font-size: 30px;
    padding: 10px 20px;
  }

  & .tip {
    height: 30px;
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    color: gray;

    & .dot {
      color: red;
    }
  }
}

